<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Validation email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="whitesmoke">
</head>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, sans-serif; background-color: #F5FAFF;">
    <!-- Table enveloppante pour couvrir tout l'écran -->
    <table align="center" width="100%" style="background-color: #F5FAFF; margin: auto; padding: 0; border-spacing: 0;">
        <tr>
            <td>
                <div style="text-align: center; padding: 10px;">
                    <h1 style="color:#01264c; text-align: center; margin: 0;">Bienvenue<br>sur<br>Chrono-Care!</h1>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p style="color: #1f7aca;font-family: poppins,sans-serif;font-weight: bold;align-items: center;text-align: center; padding:6px 50px;">
                    il ne reste plus qu'une dernière étape afin de valider votre inscription.
                </p>
                <p style="color: #1f7aca;font-family: poppins,sans-serif;font-weight: bold;align-items: center;text-align: center; padding:6px 50px;">
                    Confirmez votre adresse mail en cliquant sur le bouton ci dessous !
                </p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px;">
                <a href="http://localhost:3000/email-validation/{jwt_token}" style="background-color:#1f7aca; color:#fff; border-radius: 20px; text-decoration: none; padding: 16px 16px; font-family: poppins, sans-serif; text-transform: uppercase; font-weight: 600; display: inline-block;">
                    Valider mon email
                </a>
            </td>
        </tr>
    </table>
</body>
</html>

